DATABASE_URL="postgresql://nagarkot:nagarkot_dev_pw@ajinkya.tail32b205.ts.net:5433/nagarkot"
DIRECT_URL="postgresql://nagarkot:nagarkot_dev_pw@ajinkya.tail32b205.ts.net:5433/nagarkot"
PORT=4000
FRONTEND_URL="http://localhost:3000"